<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-Up</title>
</head>
<body>
    <h1>Welcome to the Sign Up Page!</h1>
    <form action="/user/create" method="post">
        <input type="text" name="email" id="email" placeholder="Enter Email...">
        <input type="text" name="name" id="name" placeholder="Enter name...">
        <input type="password" name="password" id="password" placeholder="Enter Password...">
        <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm Password...">
        <input type="submit" value="Sign Up">
    </form>
</body>
</html>